// okfn ribbon in the navbar

.okfn-ribbon {
}

.okfn-ribbon a {
background-image: url(http://assets.okfn.org/web/images/okf-ribbon.png);
background-repeat: no-repeat;
background-position: center -27px;
width: 48px;
height: 73px;
display: block;
cursor: pointer;
text-indent: -999px;
overflow: hidden;
position: absolute;
z-index: 1;
}